.flex-container-a {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}

.flex-container-b {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10px;
}

.flex-container-c {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.flex-container-d {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: space-around;
  align-items: baseline;
  margin: 10px;
}

.flex-container-e {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px;
}

.flex-container-f {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.flex-container-g {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px;
}

.flex-container-h {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.flex-container-i {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-end;
}

.flex-container-j {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: center;
}

.flex-container-k {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: space-between;
}

.flex-container-l {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: space-around;
}

.flex-container-m {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: stretch;
}

.flex-container-n {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap-reverse;
  align-content: stretch;
}

.flex-container-o {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}

.flex-container-p {
  display: flex;
  height: 200px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row-reverse;
}

.flex-container-q {
  display: flex;
  height: 100px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;
}

.flex-container-r {
  display: flex;
  height: 170px;
  background-color: blanchedalmond;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column-reverse;
}

.flex-container-s {
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.flex-item {
  background-color: blueviolet;
  width: 50px;
  height: 30px;
  border: 2px solid darkgoldenrod;
}

.flex-container-a .flex-item.a {
  flex-grow: 6;
}

.flex-container-a .flex-item.b {
  flex-grow: 5;
  max-width: 30px;
}

.flex-container-a .flex-item.c {
  flex-grow: 4;
}

.flex-container-a .flex-item.d {
  flex-grow: 3;
}

.flex-container-a .flex-item.e {
  flex-grow: 2;
}

.flex-container-a .flex-item.f {
  flex-grow: 1;
}

/* margins unaffected by flex-shrink */

.flex-container-b .flex-item {
  margin: 0 30px;
}

.flex-container-b .flex-item.a {
  width: 100px;
  min-width: 50px;
  flex-shrink: 40;
}

.flex-container-b .flex-item.b {
  flex-shrink: 20;
  width: 100px;
}

.flex-container-b .flex-item.c {
  flex-shrink: 10;
  width: 200px;
}

.flex-container-b .flex-item.d {
  flex-shrink: 5;
  width: 100px;
}

.flex-container-b .flex-item.e {
  flex-shrink: 0;
  width: 100px;
}

.flex-container-b .flex-item.f {
  flex-shrink: 1;
  width: 100px;
}

.flex-container-f .flex-item {
  flex-basis: 30px;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-container-g .flex-item.shrinker {
  flex: 0 1 150px;
}

.flex-container-g .flex-item.grower {
  flex: 1 0 150px;
}

.flex-container-h .flex-item,
.flex-container-i .flex-item,
.flex-container-j .flex-item,
.flex-container-k .flex-item,
.flex-container-l .flex-item,
.flex-container-m .flex-item,
.flex-container-n .flex-item {
  flex-basis: 150px;
}

.flex-container-m .flex-item {
  height: auto;
  margin: 0;
}

.flex-container-s .flex-item.left {
  background-color: orange;
  height: 300px;
  display: inline-flex;
  flex: 2 1 200px;
  flex-direction: column;
}

.flex-container-s .flex-item.right {
  background-color: orange;
  height: 300px;
  display: inline-flex;
  flex: 1 2 400px;
  align-items: center;
}

.flex-container-s .flex-item.left .flex-item {
  height: 200px;
  width: auto;
}

.flex-container-s .flex-item.right .flex-item {
  height: 300px;
  width: auto;
  flex-grow: 1;
}

.flex-item.d {
  height: 60px;
}
