nav {
    display: flex;
    border: 2px chocolate solid;
    align-items: center;
    position: fixed;
    top: 0;
    left: -170px;
    background-color: lightgray;
    z-index: 10;
    padding: 10px;
    height: 100%;
    transition: left 500ms ease-in 20ms;
}

nav .hover-content {
    width: 150px;
    margin-right: 20px
}

nav:hover {
    left: 0;
}

section {
    margin-left: 60px;
}

a {
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display: block;
    margin: 20px 100px;
    padding: 20px 0;
    width: 200px;
    border-radius: 5px;
}

a:hover {
    background-color: green;
}

#c:hover,
#d:hover {
    width: 400px;
    padding: 40px 0;
}

#a {
    transition-property: background-color;
    transition-duration: 800ms;
    transition-delay: 300ms;
    transition-timing-function: ease-in;
}

#b {
    transition: background-color 800ms ease-in -400ms;
}

#c {
    transition: background-color 2s ease-in-out 300ms,
    width 2s ease-in-out 300ms,
    padding 2s ease-in-out 300ms;
}

#d {
    transition: all 800ms ease-in-out 300ms;
}

#e:hover {
    transform: scale(2, 0.5);
}

#e {
    transition: all 1s;
}

#f:hover {
    transform: rotate(720deg);
}

#f {
    transition: transform 2s;
}

#g:hover {
    transform: translate(20px, 20px);
}

#g {
    transition: all 500ms;
}

#h:hover {
    transform: skewX(20deg);
}

#h {
    transition: all 500ms;
}

#i:hover {
    transform: rotate(90deg) scale(2) translateX(50%);
}

#i {
    transition: all 2s;
}

#j:hover {
    transform: rotate(360deg);
}

#j {
    transform-origin: 50% 0%;
    transition: all 2s;
}

.cube {
    perspective: 400px;
    margin: 100px;
    height: 300px;
    width: 300px;
    perspective-origin: 100% 100%;
    transform-style: preserve-3d;
}

.side {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    transform: translateZ(50px);
    background-color: rgba(255, 0, 0, 0.5)
}

.back {
    transform: rotateY(180deg) translateZ(50px);
    background-color: rgba(0, 255, 0, 0.5);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
    background-color: rgba(0, 0, 255, 0.5);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
    background-color: rgba(255, 255, 0, 0.5);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
    background-color: rgba(255, 0, 255, 0.5);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
    background-color: rgba(0, 255, 255, 0.5)
}