nav {
    display: flex;
    border: 2px chocolate solid;
    align-items: center;
    position: fixed;
    top: 0;
    left: -170px;
    background-color: lightgray;
    z-index: 10;
    padding: 10px;
    height: 100%;
    transition: left 500ms ease-in 20ms;
}

nav .hover-content {
    width: 150px;
    margin-right: 20px
}

nav:hover {
    left: 0;
}

/*
transition-timing-function is ease (short slow period- fast -long slow down) by default if not defined
can be ease-in (start slow end fast), ease-out (opposite), ease or ease-in-out (even slow fast slow periods), 
linear (constant)

can also define your own timing function using the cubic-bezier function

transition-duration and -delay can be defined in ms or s,

a negative delay value will start the transition immediately, already part-way through the 
transition process
*/

a {
    background-color: orange;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display: block;
    margin: 20px 100px;
    padding: 20px 0;
    width: 200px;
    border-radius: 5px;
}

a:hover {
    background-color: green;
}

#c:hover,
#d:hover {
    width: 400px;
    padding: 40px 0;
}

#a {
    transition-property: background-color;
    transition-duration: 800ms;
    transition-delay: 300ms;
    transition-timing-function: ease-in;
}

/*
transition combines transition-property, -duration, -timing-function, and -delay in one line, 
defaults used if any value left out, must include duration to include delay
*/

#b {
    transition: background-color 800ms ease-in -400ms;
}

#c {
    transition: background-color 2s ease-in-out 300ms,
    width 2s ease-in-out 300ms,
    padding 2s ease-in-out 300ms;
}

/*
all can be used with transition, or with transition-property to define all changing values at once
*/

#d {
    transition: all 800ms ease-in-out 300ms;
}